@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: url(../font/NotoSans-Regular.otf) format('opentype');}

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: url(../font/NotoSans-Medium.otf) format('opentype');}

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 600; src: url(../font/NotoSans-Bold.otf) format('opentype');}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,textarea,p,th,td,input,select,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
html,body{height:100%; /*background:#edf2f5*/}
body {font-family:'Noto Sans KR','맑은 고딕',Malgun Gothic,'돋움',dotum,tahoma,sans-serif;font-size:14px;color:#383838;letter-spacing:-1px; width: 100%; min-width: 1400px;}
select,
input[type="text"],[type="search"],[type="email"],
input[type="password"]{font-family:ng,"Noto Sans KR",'맑은 고딕',Malgun Gothic,'돋움',dotum,tahoma,sans-serif;font-size:14px;color:#444; height:32px;line-height:23px; border:1px solid #b9b9b9;
text-indent: 10px;}
input[type="checkbox"]{width: 15px; height: 15px;}
select{ height:34px; line-height:23px;appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari and Chrome */
appearance:none;}
caption { display:none;}
fieldset,img{ border:0 none;}
dl,ul,ol,menu,li{ list-style:none}
button{ overflow:visible; border:0 none; background-color:transparent; cursor:pointer; font-family:"Noto Sans CJK KR",'맑은 고딕',Malgun Gothic,ng,'돋움',dotum,tahoma,sans-serif; letter-spacing:-1px;}
/*button span,button strong,button:active span,button:active strong,button:focus,button:focus strong{*position:relative;*top:0;*left:0}*/
address,em {font-style:normal}
a {text-decoration:none !important;}
a:focus,a:active,a:hover {text-decoration:none !important;}
table {border-collapse:collapse; border-spacing:0}
hr {display:none}
input::-ms-clear {display: none}
input,textarea {outline-style:none}
::-webkit-input-placeholder {color:#aeb2ba}
:-moz-placeholder {color:#aeb2ba}
::-moz-placeholder {color:#aeb2ba}
:-ms-input-placeholder {color:#aeb2ba}
#skipnavigation a:focus,
#skipnavigation a:active {left:0; padding:5px 0; background:#000; color:#fff;}
#skipnavigation a {width:100%; display:block; position:absolute; left:-3000%; top:0; text-align:center; z-index:2;}

.top {width: 100%; background: #3f4251;}
.top_menu{width:100%; margin: 0 auto; overflow: hidden; height: 48px;}
.topleft{float: left; line-height: 48px;}
.topleft li{float: left; background:url(../image/topline.png) no-repeat 0 20px;
padding-left:19px;}
.topleft li:first-child{background:none;
padding-left:0;}
.topleft li a{color: #fff; font-size: 12px; padding-left: 21px; padding-right: 19px;}
.topIcon01{background:url(../image/topIcon01.png) no-repeat 0 1px;}
.topIcon02{background:url(../image/topIcon02.png) no-repeat 0 1px;}
.topIcon03{background:url(../image/topIcon03.png) no-repeat 0 1px;}
.topright{float: right; line-height: 48px; padding-right: 20px;}
.topright li{float: left; margin-left: 7px;}
.topright li a{color: #d0d0d0;}
.userneme{color: #fff; }
.topright li img{margin-top: 7px;}
.topright li .login{background:#3e61b2; border: 1px solid #6581c2;color: #fff; padding: 6px 19px 7px 19px; margin-right: 5px;}
.top-menu{border-bottom: 1px solid #e1e1e1;}
#top-wrap {width:100%;margin:0 auto;position:relative;clear:both; }
#top-wrap .loc-title {position:absolute;top:26px;left:20px;color:#000;}


/* all nav */
.stellarnav {width:1580px;width: 100%; z-index: 9900;margin:0 auto;clear:both;}
.stellarnav ul li .on{color:#3e61b2;}
.stellarnav ul {padding: 0;text-align: right;}
.stellarnav li { list-style: none;padding: 0; line-height: 83px; vertical-align: middle; background:url(../image/menuIcon.png) no-repeat 0 40px;}
.stellarnav li:first-child{background: none;}
.stellarnav li a {padding:15px 5px;display: block;font-weight:400;color: #000;font-size: 18px;/* box-sizing: border-box; *//* -webkit-transition: all .3s ease-out; */-moz-transition: all .3s ease-out;/* transition: all .3s ease-out; *//* letter-spacing:-1px; */ padding:0px 22px;}


/* main level */
.stellarnav > ul > li { display: inline-block; }
.stellarnav > ul > li > a {/* padding: 20px 40px 20px 40px; */}
.stellarnav > ul > li > ul {background:#fff; border:1px solid #3e61b2;box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);overflow:hidden;display: none;position: absolute; top:60px;}
.stellarnav > ul > li > ul#submneu_01 {right:535px; }
.stellarnav > ul > li > ul#submneu_02 {right:430px;}
.stellarnav > ul > li > ul#submneu_03 {right:318px;}
.stellarnav > ul > li > ul#submneu_04 {right:210px;}
.stellarnav > ul > li > ul#submneu_05 {right:100px;}
.stellarnav > ul > li > ul#submneu_06 {right:0px;}

/* first level dd */
.stellarnav ul ul { float: left;position: absolute; z-index: 9900;text-align: center;display: none;padding: 12px 0px;}
.stellarnav li li {padding:0 5px; line-height: 32px; background: none;}
.stellarnav li li a { color:#3f4251;font-size:14px;}
.stellarnav li li a:hover {font-weight: 600;}

/* general styling */
.stellarnav.hide-arrows li.has-sub > a:after, .stellarnav.hide-arrows li li.has-sub > a:after, .stellarnav.hide-arrows li.drop-left li.has-sub > a:after { display: none;}
.stellarnav .menu-toggle, .stellarnav .close-menu { display: none; text-transform: uppercase; text-decoration: none; }
.stellarnav .call-btn-mobile { display: none; }
.stellarnav .dd-toggle { display: none; position: absolute; top: 0; right: 0; padding: 0; width: 48px; height: 48px; text-align: center; z-index: 9999; border: 0; }
.stellarnav .dd-toggle i { position: absolute; margin: auto; top: 33%; left: 0; right: 0; -webkit-transition: transform .3s ease-out; -moz-transition: transform .3s ease-out; transition: transform .3s ease-out; }
.stellarnav.mobile > ul > li > a.dd-toggle { padding: 0; }
.stellarnav li.call-btn-mobile, .stellarnav li.call-btn-location { display: none; }
.stellarnav li.open > a.dd-toggle i { -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }


.con_wrap{width: 100%;}
.lnbWrap{width:290px; background: #fff; padding: 0px 20px;float: left; }
.lnbWrap .lnbtab{overflow: hidden; margin-top: 20px;}
.lnbWrap .lnbtab li {width:50%; float: left; background: #fff; text-align: center;  }
.lnbWrap .lnbtab li a{color: #838383; line-height: 40px; display: block; font-size: 16px; border: 1px solid #dedede;font-weight: 400;}
.lnbWrap .lnbtab li:first-child a{border-right: none;}
.lnbWrap .lnbtab li a:hover{font-weight: 600;}
.lnbWrap .lnbtab .on {color: #fff; font-weight: 400; background: #456bc2; display: block;border: 1px solid #456bc2;}
.tab-content.current{
	display: block;
}
.tab-content{
	display: none;
}
.mapSearch{ clear: both; }
.mapSearchcon{border-bottom: 1px solid #d4d4d4;padding-bottom:20px; }
.mapSearch h4{color: #5b5b5b; font-size: 14px; border: 1px solid #d4d4d4;padding: 6px 0px;margin-top: 20px; background: #f6f6f6; text-indent: 10px;}
.mapSearchcon{border: 1px solid #d4d4d4;background: #f6f6f6;border-top: none; padding: 10px;}
.mapSearch .radio{margin-bottom: 10px;}
.mapSearch .radio label{font-size: 14px; display: inline-block; background: #fff; text-align: center;padding: 4px 0px; WIDTH:33%;border: 1px solid #d4d4d4;margin-right: -4px;margin-top: -1px;}
.mapSearch .radio label:last-child{width: 32.5%}
.mapSearch .radio input{position: absolute; overflow: hidden; clip: rect(0px,0px,0px,0px); margin: -1px; width: 1px; height: 1px;}
.radio input:checked+label{background: #494e5a; color: #fff;}
.searchinput{width:78%;}
.btn_search{ background: #456bc2; color: #fff; line-height: 34px; vertical-align:top; padding: 0 15px;}

.result{height: 350px; overflow-y: auto;border: 1px solid #d4d4d4;border-top: none;}
.mapSearch table{width: 100%; line-height:45px;}
.mapSearch table th{background:#e5e5e5; font-weight: 400;border-bottom: 1px solid #d4d4d4;}
.mapSearch table td{text-indent:10px; font-weight: 300;border-bottom: 1px solid #d4d4d4; cursor: pointer;}
.mapSearch table tr:hover td{background: #f1f1f1;}
.mapSearch table tr th:first-child{border-right: 1px solid #d4d4d4;}
.mapSearch table tr td:first-child{border-right: 1px solid #d4d4d4;font-weight: 400;}

.MapWrap{ border-left: 1px solid #d4d4d4; float: left; min-width:1050px; }
.MapWrap .top{width: 100%; background: #eeeeee; overflow: hidden; padding: 10px 0px;}
.MapWrap .top .tab{margin-left: 20px;}
.MapWrap .top .tab li{float: left; width: 125px; line-height: 42px; margin-right: 1px;}
.MapWrap .top .tab li a{color:#7d7d7d; background: #fff; display: block; text-align: center;}
.MapWrap .top .tab li a:hover{background: #d2d2d2;}
.MapWrap .top .tab .on a{background: #46494d; color: #fff;}
.MapWrap .top .tab .on a:hover{background: #46494d;}
.btn_backmap{background:#456bc2; width: 125px; line-height: 42px; float: right; color: #fff; margin-right: 20px;}
.Map{ height: 100%; min-height: 700px;}
.layerWrap{width: 100%;}
.layer{height:600px;overflow-y: auto;margin-top: 20px; overflow-x: hidden;}
/*1level*/
.layer>li{border: 1px solid #d4d4d4;}
.layer>li>a{color: #5b5b5b; font-size: 14px; line-height: 40px;  display: block; text-indent: 10px;border-bottom: 1px solid #d4d4d4; font-weight: 600;
background: #f6f6f6 url(../image/1level-close.gif) no-repeat 250px 12px;}
/*2level*/
.layer>li>ul>li{ line-height: 38px; border-bottom:1px solid #d4d4d4; color: #5b5b5b; font-size: 14px;}
.layer>li>ul>li:last-child{border-bottom: none;}
.colorbox{display: inline-block; width: 12px; height: 12px; margin-left: 5px; vertical-align: sub; }
.colorbox.lavel2a{ background: #fff; border: 2px solid #a32ef5}
.colorbox.lavel2b{ background: #fff; border: 2px solid #2eb6f5}
.colorbox.lavel2c{ background: #fff; border: 2px solid #e72b3c}
.colorbox.lavel2d{ background: #fff; border: 2px solid #3647ee}
.colorbox.lavel2e{ background: #fff; border: 2px solid #ff831f}
.colorbox.lavel3a{ background: #ffacac; border: 2px solid #ffacac}
.colorbox.lavel3b{ background: #ffc5ae; border: 2px solid #ffc5ae}
.colorbox.lavel3c{ background: #ffc87a; border: 2px solid #ffc87a}
.colorbox.lavel3d{ background: #d9fb87; border: 2px solid #d9fb87}
.colorbox.lavel3e{ background: #9bffb3; border: 2px solid #9bffb3}
.colorbox.lavel3f{ background: #86fff8; border: 2px solid #86fff8}
.colorbox.lavel3g{ background: #9ec5ff; border: 2px solid #9ec5ff}
.colorbox.lavel3h{ background: #dab5ff; border: 2px solid #dab5ff}
.colorbox.lavel3i{ background: #ffa4f1; border: 2px solid #ffa4f1}
.colorbox.lavel3j{ background: #a7a7a7; border: 2px solid #a7a7a7}


.layer>li>ul>li .levelno{margin-left: 10px; width: 16px; height: 16px; border-color: #868686; vertical-align:sub;}
.layer>li>ul>li .levelyes{position: absolute; overflow: hidden; clip: rect(0px,0px,0px,0px); margin: -1px; width: 1px; height: 1px;}
.layer>li>ul>li .lavelneme{display: block; background: url(../image/2level-close.gif)no-repeat 10px 10px; text-indent: 30px;}
.levelyes:checked+.lavelneme{background: url(../image/2level-open.gif)no-repeat 10px 10px;}

/*3level*/
.layer>li>ul>li>ul{margin-bottom: 10px;}
.layer>li>ul>li>ul>li{color: #7f7f7f; line-height: 30px; text-indent: 20px; font-weight: 400;}

footer{background: #3f4251; clear: both;width: 100%;}
.fcont{ margin: 0 auto; clear: both; padding: 30px 0px;margin-left: 20px; margin-right: 20px;}
.fconlogo{float: left; }
.styled-select select {
   background: transparent;
   width: 230px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 1px solid #939393;
   border-radius: 0;
   height: 30px;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
   
   color:#fff;
   background:url('../image/new_arrow.gif') no-repeat  100% #5a5e67;
}

.sliderbox{width: 100px; float: right; margin-top: 16px; margin-right:10px;}
#custom-handle {
        width: 15px;
        height: 15px;
        top: 100%;
        margin-top: -.8em;
        text-align: center;
        line-height: 1em;
        border-radius: 50px;
        border: none;
        background:#969696;
        text-indent: -9999px;
        
      }


.styled-select select::-ms-expand{
    display: none;}

.styled-select {width: 230px;height:30px;overflow: hidden;background:url('../image/new_arrow.gif') no-repeat right #606060;border: 1px solid #484848; float: right;}
legend {position:absolute;font-size:0px;top:-1000000px;overflow:hidden;}
fieldset label {position:absolute;font-size:0px;top:-1000000px;overflow:hidden;}
.fcontent{clear: both;}
.fcontent li a{float: left; color: #fff; padding-right: 10px;margin-top: 15px;}

.fcont address{clear: both; padding-top: 15px; color:#abacb1;letter-spacing: normal;}
.select_box select {
   background: transparent;
   width: 200px;
   padding:10px;
   font-size: 14px;
   line-height: 1;
   border: 1px solid #d8d8d8;
   border-radius: 0;
   height: 40px;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
   
   color:#525252;
   background:url('../image/selbox.png') no-repeat  100% #fff;

}
.select_box select::-ms-expand{
    display: none;}

